@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.bodyContent{
  width: 100vw;
  display: flex;
}

.pages{
  width: 100vw;
  height: 100vh;
}